html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

 main {
  width: 450px;
  min-height: 100vh;
  position: relative;
  padding-top: 120px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:#ffffff;
  box-shadow: -5px 5px 5px
}

.center-inlune {
  text-align: center;
}

/*Main css page*/
#nav-bar {
  position: fixed;
  top: 0rem;
  min-width: 100%;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 999;
}

#nav-bar .logo {
  margin-left: 1rem;
  height: 5rem;
  width: 5rem;
}

#nav-bar .header {
  font-size: 2rem;
  line-height: 250%;
  margin-left: 0.6rem;
}

#nav-bar .compose-toggle {
  margin: 1rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 0.6rem;
  color: #00a087;
  background-color: rgba(255, 255, 255, 0.7);
}

/*NAV BAR*/

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 999;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .header {
    font-size: 2em;
    margin-left: 10px;
    line-height: 250%;
    float: left;
}

#nav-bar .compose-btn {
  margin: 1em;
  padding: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 10px;
  color: #00a087;
}

#nav-bar .compose-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#nav-bar .compose-btn:active {
  background-color: rgba(180, 215, 205, 1);
  cursor: pointer;
}

/*NEW TWEET*/
h2 {
  margin: 0.5em;
}

main {
  position: relative;
  width: 80%;
  border: 2em;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-top: 60px;
}

.new-tweet{
    background:#ececec;
    border: 1px solid #b6b3b3da;
    border-radius: 8px;
    padding: 0 10px 4px 10px;
}

#buttonTweet {
  float: right;
  margin-top: 30px;
}

textarea {
  width: 90%;
  padding: 0.5em;
  margin: auto;
}

.new-tweet h2 {
    border-bottom: 1px solid #000000;
}

#counter{
    float: right;
    padding-right: 6px;
    font-size: .8em;
    margin-top: 6px;
}

/*Style css*/
#tweets {
  border-radius: 4px;
  margin-top: 25px;
}

.tweet {
  background: white;
  border: 1px #aaa solid;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.7;
  transition: 0.6s all ease-in;  
}

.tweet:hover{
  opacity: 1;
  transition: 0.6s all ease-in;
}


.tweet header {
  background: #f3f3f3;
  border-bottom: 1px #a6a4a46c solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 75px;
  padding: 8px;
}

.tweet .avatar {
  border-radius: 8px;
  float: left;
  height: 55px;
  width: 55px;
}

.tweet .fullname {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.tweet .username {
  color: grey;
  float: right;
  font-size: 1em;
}

.tweet .tweet-content {
  padding: 15px;
}

.tweet footer p {
  border-top: 1px #cbc9c9 solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 0.7em;
  margin: 0px;
  padding: 15px 10px;
}

.tweet footer .icons {
  float: right;
  padding: 15px 10px;
  display: none;
}

.tweet:hover .icons {
  display: block;
}
